{% extends 'topbar.html' %}
{% load static %}
{% load form_filters %}
{% block head %}
    <title>Add Line</title>
{% endblock %}
{% block content %}
    {% include 'user_navbar.html' %}
    <div class="content p-4">
        <div class="intro-y w-full pr-1 flex flex-col justify-center items-center">
            <div class=" w-8/12 p-1 border border-dashed border-gray-400 rounded-md">
                <div class="pos__tabs flex"> 
                    <a data-toggle="tab" class="flex-1 py-1 px-1 rounded-md text-sm text-center bg-theme-6 text-white">Line Details</a> 
                    <a data-toggle="tab" class="flex-1 py-1 px-1 rounded-md text-sm text-center cursor-not-allowed">Select Pattern</a> 
                    <a data-toggle="tab" class="flex-1 py-1 px-1 rounded-md text-sm text-center cursor-not-allowed">Select Machine</a> 
                    <a data-toggle="tab" class="flex-1 py-1 px-1 rounded-md text-sm text-center cursor-not-allowed">Configure Line</a> 
                </div>
            </div>
            <div class="tab-content h-full p-8 mt-4 w-full flex justify-center">                     
                <div class="tab-content__pane w-full flex justify-center active" id="lineDetails">
                    <div class="intro-y box w-6/12">
                        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                            <h2 class="font-medium text-base mr-auto">Enter Line Details</h2>
                        </div>
                        <form method="POST" action="{% url 'millLineDetails' %}">
                            {% csrf_token %}
                            <div class="p-5" id="input">
                                <div class="preview">
                                    <div> 
                                        <label>Line Name</label> 
                                        <input type="text" name="line_name" class="input w-full border my-3" placeholder="Line Name" required> 
                                    </div>
                                    <div> 
                                        <label>Line Description</label> 
                                        <input type="text" name="line_description" class="input w-full border my-3" placeholder="Line Description" required> 
                                    </div>
                                    <div class="flex justify-end gap-3">
                                        <button type="button" class="button border-none bg-gray-500 text-white mt-5">Cancel</button>
                                        <button type="submit" class="button border-none bg-theme-1 text-white mt-5">Save & Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
