{% extends 'topbar.html' %}
{% load static %}

{% block head %}
    <title>Select Machines</title>
{% endblock %}

{% block content %}
    {% include 'user_navbar.html' %}
    <div class="content p-4">
        <div class="intro-y w-full flex flex-col items-center">
            <div class="w-8/12 p-1 border border-dashed border-gray-400 rounded-md">
                <div class="pos__tabs flex">
                    <a href="{% url 'editMillLine' line_id %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center">Line Details</a> 
                    <a href="{% url 'millLineSelectPattern' line_id %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center cursor-pointer">Select Pattern</a>
                    <a href="{% url 'millLineSelectMachine' line_id %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center cursor-pointer bg-theme-6 text-white">Select Machine</a>
                    <a href="{% url 'millLineConfigLine' line_id %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center cursor-pointer">Configure Line</a>
                </div>
            </div>
        </div>
        <div class="tab-content h-full p-8 mt-4 w-full flex flex-col items-center">
            <div class="tab-content__pane w-full box flex flex-col items-center active" id="lineDetails">
                <div class="wizard flex flex-col lg:flex-row justify-center mt-3 px-5 sm:px-20 relative">
                    {% for machine_type in machine_types %}
                    <div class="intro-x lg:text-center flex items-center lg:block flex-1 z-10" data-step="{{ forloop.counter }}">
                        <button class="w-10 h-10 rounded-full button step-button border-none text-black bg-theme-1" onclick="goToStep({{ forloop.counter }})">{{ forloop.counter }}</button>
                        <div class="lg:w-32 text-base lg:mt-3 ml-3 lg:mx-auto">{{ machine_type.type }}</div>
                    </div>
                    {% empty %}
                    <p class="text-center">No machines available for the selected types.</p>
                    {% endfor %}
                    <div class="wizard__line hidden lg:block w-2/3 bg-gray-200 absolute mt-5"></div>
                </div>

                {% for machine_type in machine_types %}
                <div class="flex justify-center items-center w-full">
                    <div class="step-content w-full px-2">
                        <div class="step-box intro-y p-5 hidden" data-step="{{ forloop.counter }}">
                            <div class="intro-y datatable-wrapper box shadow-none">
                                <table class="table table-report table-report--bordered display datatable">
                                    <thead>
                                        <tr>
                                            <th class="border-b-2 whitespace-no-wrap">
                                               <input class="input flex-none border border-gray-500" title="Select All" type="checkbox" id="selectAll-{{ forloop.counter }}" onchange="toggleAllCheckboxes({{ forloop.counter }}, this.checked)">
                                            </th>
                                            <th class="border-b-2 whitespace-no-wrap">NAME</th>
                                            <th class="border-b-2 text-center whitespace-no-wrap">MODEL</th>
                                            <th class="border-b-2 text-center whitespace-no-wrap">LOADING TIME</th>
                                            <th class="border-b-2 text-center whitespace-no-wrap">UNLOADING TIME</th>
                                            <th class="border-b-2 text-center whitespace-no-wrap">AVAILABLE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for machine in filtered_machines|dictsort:"type" %}
                                            {% if machine.type == machine_type.type %}
                                            <tr>
                                                <td class="border-b w-5">
                                                    <div>
                                                        <input class="input flex-none border border-gray-500" type="checkbox" name="machine_ids" value="{{ machine.id }}">
                                                    </div>
                                                </td>
                                                <td class="border-b">
                                                    <div class="font-medium whitespace-no-wrap">{{ machine.machine_name }}</div>
                                                </td>
                                                <td class="border-b text-center">
                                                    <div class="font-medium whitespace-no-wrap">{{ machine.model }}</div>
                                                </td>
                                                <td class="text-center border-b">{{ machine.loading_time }}</td>
                                                <td class="text-center border-b">{{ machine.unloading_time }}</td>
                                                <td class="w-40 border-b">
                                                    <div class="flex items-center sm:justify-center {{ machine.line_id|yesno:'text-green-500,text-red-500' }}">
                                                        {{ machine.line_id|yesno:"YES,NO" }}
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="text-center"> 
                    <a href="javascript:;" data-toggle="modal" data-target="#header-footer-modal-preview" class="intro-y button inline-block bg-theme-1 text-white mb-4">Set</a> 
                </div>
                <div class="modal" id="header-footer-modal-preview">
                    <div class="modal__content">
                        <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
                            <h2 class="font-medium text-base mr-auto">Add Silver Loading/Unloading</h2>
                        </div>
                        <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
                            <div class="col-span-12 sm:col-span-6">
                                <label for="loading-detail-m">Silver Loading Details (m/Can)</label>
                                <input type="number" id="loading-detail-m" class="input w-full border mt-2 flex-1" placeholder="Enter loading time">
                            </div>
                            <div class="col-span-12 sm:col-span-6">
                                <label for="unloading-detail-m">Silver Unloading Details (m/Can)</label>
                                <input type="number" id="unloading-detail-m" class="input w-full border mt-2 flex-1" placeholder="Enter unloading time">
                            </div>
                            <div class="col-span-12 sm:col-span-6">
                                <label for="loading-detail-kg">Silver Loading in Kg/Can</label>
                                <input type="number" id="loading-detail-kg" class="input w-full border mt-2 flex-1" placeholder="Enter loading time">
                            </div>
                            <div class="col-span-12 sm:col-span-6">
                                <label for="unloading-detail-kg">Silver Unloading in Kg/Can</label>
                                <input type="number" id="unloading-detail-kg" class="input w-full border mt-2 flex-1" placeholder="Enter unloading time">
                            </div>
                            <div class="col-span-12 sm:col-span-6">
                                <label for="loading-time-mins">Silver Loading Time (Mins)</label>
                                <input type="number" id="loading-time-mins" class="input w-full border mt-2 flex-1" placeholder="Enter loading time">
                            </div>
                            <div class="col-span-12 sm:col-span-6">
                                <label for="unloading-time-mins">Silver Unloading Time (Mins)</label>
                                <input type="number" id="unloading-time-mins" class="input w-full border mt-2 flex-1" placeholder="Enter unloading time">
                            </div>
                        </div>
                        <div class="px-5 py-3 text-right border-t border-gray-200">
                            <button type="button" class="button w-20 border text-gray-700 bg-gray-300 border-none mr-1" data-dismiss="modal">Cancel</button>
                            <button type="button" class="button w-20 bg-theme-1 border-none text-white" id="submit-time">Add</button>
                        </div>
                    </div>
                </div>
                <div class="intro-y flex items-center justify-center gap-4 mb-10">
                    <button class="button border-none w-full justify-center block bg-gray-200 text-gray-600" onclick="goToPreviousStep('{{ line_id }}')">Previous Tab</button>
                    <button id="prevStep" class="button border-none w-24 justify-center block bg-gray-200 text-gray-600" onclick="goToStep(currentStep - 1)" disabled>Previous</button>
                    <button id="nextStep" class="button border-none w-24 justify-center block bg-theme-1 text-white" onclick="goToStep(currentStep + 1)">Next</button>
                    <button class="button border-none w-full justify-center block bg-theme-1 text-white" onclick="goToNextStep('{{ line_id }}')">Complete</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goToNextStep(lineId) {
            window.location.href = `/mill-line-config-line/${lineId}`;
        }
        function goToPreviousStep(lineId) {
            window.location.href = `/mill-line-select-pattern/${lineId}`;
        }
        let currentStep = 1;
        const totalSteps = {{ machine_types|length }};
        function goToStep(step) {
            if (step < 1 || step > totalSteps) return;
            document.querySelectorAll('.step-box').forEach(box => {
                box.classList.add('hidden');
            });
            document.querySelector(`.step-box[data-step="${step}"]`).classList.remove('hidden');
            currentStep = step;
            document.querySelectorAll('.step-button').forEach((btn, index) => {
                btn.classList.toggle('bg-gray-200', index + 1 !== currentStep);
                btn.classList.toggle('bg-theme-1', index + 1 === currentStep);
                btn.classList.toggle('text-white', index + 1 === currentStep);
            });
            updateNavigation();
        }
        function updateNavigation() {
            document.getElementById('prevStep').disabled = (currentStep === 1);
            document.getElementById('nextStep').disabled = (currentStep === totalSteps);
        }
        goToStep(currentStep);

        function toggleAllCheckboxes(step, isChecked) {
    const checkboxes = document.querySelectorAll(`.step-box[data-step="${step}"] input[name="machine_ids"]`);
    checkboxes.forEach(checkbox => {
        checkbox.checked = isChecked;
    });
}

    document.getElementById('submit-time').addEventListener('click', function() {
        const loadingDetailM = document.getElementById('loading-detail-m').value;
        const unloadingDetailM = document.getElementById('unloading-detail-m').value;
        const loadingDetailKg = document.getElementById('loading-detail-kg').value;
        const unloadingDetailKg = document.getElementById('unloading-detail-kg').value;
        const loadingTimeMins = document.getElementById('loading-time-mins').value;
        const unloadingTimeMins = document.getElementById('unloading-time-mins').value;

        const selectedMachines = Array.from(document.querySelectorAll('input[name="machine_ids"]:checked')).map(checkbox => checkbox.value);
        
        fetch('{% url "save_loading_unloading_details" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({
                machine_ids: selectedMachines,
                loading_detail_m: loadingDetailM,
                unloading_detail_m: unloadingDetailM,
                loading_detail_kg: loadingDetailKg,
                unloading_detail_kg: unloadingDetailKg,
                loading_time_mins: loadingTimeMins,
                unloading_time_mins: unloadingTimeMins,
                line_id: {{ line_id }}
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert("Details added successfully!");
                document.getElementById('header-footer-modal-preview').style.display = 'none';
            } else {
                alert("Error: " + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    });
    </script>
    
{% endblock %}
