{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="{% static 'images/logo.svg' %}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login page">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/app_old.css' %}" />
</head>
<body class="login">
    <div class="container sm:px-10 ">
        <div class="block xl:grid grid-cols-2 gap-4">
            <div class="hidden xl:flex flex-col min-h-screen">
                <div class="my-auto">
                    <img alt="Illustration" class="-intro-x w-1/2 " src="{% static 'images/illustration.svg' %}">
                    <div class="-intro-x text-white font-medium text-2xl leading-tight mt-10">
                        A few more clicks <br/> to sign in to your account.
                    </div>
                    <div class="-intro-x mt-5 text-lg text-white">Sign in to your account</div>
                </div>
            </div>
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x text-2xl xl:text-3xl text-center xl:text-left">
                        Sign In
                    </h2>
                    {% if error %}
                    <div class="rounded-md flex items-center intro-x px-5 py-4 my-10 bg-theme-6 text-white">
                        <i data-feather="alert-triangle" class="w-6 h-6 mr-2"></i>
                            {{ error }} 
                    </div>
                    {% endif %}

                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="intro-x mt-8">
                            <input type="text" name="username" class="intro-x login__input input input--lg border rounded-md border-gray-300 block" placeholder="Username" value="{{ form.username.value }}">
                            {{ form.username.errors }}
                            <input type="password" name="password" class="intro-x login__input input input--lg border rounded-md border-gray-300 block mt-4" placeholder="Password">
                            <div class="intro-x flex text-gray-700 text-xs sm:text-sm mt-4">
                                <div class="flex items-center mr-auto">
                                    <input type="checkbox" class="input border mr-2" id="remember-me">
                                    <label class="cursor-pointer select-none" for="remember-me">Remember me</label>
                                </div>
                                <a href="">Forgot Password?</a> 
                            </div>
                        </div>
                        
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <button type="submit" class="button button--lg w-full h-10 rounded-md xl:w-32 text-white bg-theme-6 xl:mr-3">Login</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
